<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <!--导入ureport配置文件-->
    <import resource="classpath:ureport-console-context.xml"/>

    <!--修改了ureport默认配置时，需配置修改后的文件信息-->
    <bean id="propertyConfigurer" parent="ureport.props">
        <property name="location">
            <!-- 读取配置文件 -->
            <value>classpath:config.properties</value>
        </property>
    </bean>
</beans>