<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.java.activiti.dao.wms.WarehouseDao">
    <resultMap id="warehouse" type="com.java.activiti.model.wms.Warehouse">
        <id property="whId" column="whId"/>
        <result property="whName" column="whName"/>
        <result property="whAddress" column="whAddress"/>
        <result property="whDesc" column="whDesc"/>
        <result property="whType" column="whType"/>
    </resultMap>


    <select id="findById" parameterType="java.lang.Integer" resultMap="warehouse">
		select * from wms_warehouse where whId=#{whId}
	</select>
    <!-- 查询goods对应的城市是否相同 -->
    <select id="findWarehouseByWhName" parameterType="com.java.activiti.model.wms.Warehouse" resultMap="warehouse">
        select * from wms_warehouse
        <where>
            <if test="whName!=null and whName!='' ">
                and whName = #{whName}
            </if>
        </where>
        limit 1
    </select>
    <select id="warehousePage" parameterType="Map" resultMap="warehouse">
        select * from wms_warehouse
        <where>
            <if test="whName!=null and whName!='' ">
                and whName like concat('%',#{whName},'%')
            </if>
            <if test="goodName!=null and goodName!='' ">
                and whAddress like concat('%',#{whAddress},'%')
            </if>
        </where>
        <if test="sort!=null and sort!='' and order!=null and order!='' ">
            order by ${sort} ${order}
        </if>
        <if test="pageIndex!=null and pageSize!=null">
            limit #{pageIndex},#{pageSize}
        </if>
    </select>

    <select id="warehouseCount" parameterType="Map" resultType="int">
        select count(1) from wms_warehouse
        <where>
            <if test="whName!=null and whName!='' ">
                and whName like concat('%',#{whName},'%')
            </if>
            <if test="goodName!=null and goodName!='' ">
                and whAddress like concat('%',#{whAddress},'%')
            </if>
        </where>
        <if test="sort!=null and sort!='' and order!=null and order!='' ">
            order by ${sort} ${order}
        </if>
    </select>

    <insert id="addWarehouse" parameterType="com.java.activiti.model.wms.Warehouse">
        insert into wms_warehouse
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="whId != null">
                whId,
            </if>
            <if test="whName != null">
                whName,
            </if>
            <if test="whAddress != null">
                whAddress,
            </if>
            <if test="whDesc != null">
                whDesc,
            </if>
            <if test="whType != null">
                whType,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="whId != null">
                #{whId,jdbcType=BIGINT},
            </if>
            <if test="whName != null">
                #{whName,jdbcType=VARCHAR},
            </if>
            <if test="whAddress != null">
                #{whAddress,jdbcType=VARCHAR},
            </if>
            <if test="whDesc != null">
                #{whDesc,jdbcType=VARCHAR},
            </if>
            <if test="whType != null">
                #{whType,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

    <update id="updateWarehouse" parameterType="com.java.activiti.model.wms.Warehouse">
        update wms_warehouse
        <set>
            <if test="whName!=null and whName!='' ">
                whName=#{whName},
            </if>
            <if test="whAddress!=null and whAddress!='' ">
                whAddress=#{whAddress},
            </if>
            <if test="whDesc!=null and whDesc!='' ">
                whDesc=#{whDesc},
            </if>
            <if test="whType!=null and whType!='' ">
                whType=#{whType},
            </if>
        </set>
        where whId=#{whId}
    </update>

    <delete id="deleteWarehouseById" parameterType="java.util.List">
        delete from wms_warehouse where whId in
        <foreach collection="list" item="whId" index="index" open="(" separator="," close=")">
            #{whId}
        </foreach>
    </delete>

    <!-- 查询goods对应的城市是否相同 -->
    <select id="findWarehouse" parameterType="com.java.activiti.model.wms.Warehouse" resultMap="warehouse">
        select * from wms_warehouse
        <where>
            <if test="whName!=null and whName!='' ">
                and whName = #{whName}
            </if>
            <if test="whAddress!=null and whAddress!='' ">
                and whAddress = #{whAddress}
            </if>
        </where>
    </select>

    <!-- 查询goods对应的城市是否相同 -->
    <select id="findWarehouseByExcel" parameterType="com.java.activiti.model.wms.Warehouse" resultMap="warehouse">
        select * from wms_warehouse
        <where>
            <if test="whName!=null and whName!='' ">
                and whName = #{whName}
            </if>
            <if test="whAddress!=null and whAddress!='' ">
                and whAddress = #{whAddress}
            </if>
        </where>
        limit 1
    </select>

    <!-- 查询所有的物料 -->
    <select id="selectALL" resultType="warehouse">
        select * from wms_warehouse ww
        <where>
            <if test="whType!=null and whType!='' ">
                and ww.whType = #{whType}
            </if>
        </where>
    </select>


    <!-- 根据角色模糊查询角色 自动补全 -->
    <select id="findWarehouseName"
            parameterType="java.lang.String" resultMap="warehouse">
        select ww.whId AS whId, ww.whName AS whName from wms_warehouse ww
        <where>
            <if test="whName!=null and whName!='' ">
                and ww.whName like CONCAT('%',#{whName},'%')
            </if>
            <if test="whType!=null and whType!='' ">
                and ww.whType = #{whType}
            </if>
        </where>
    </select>

    <!-- 查询所有的物料 -->
    <select id="findWarehouseNameByWhType" resultType="warehouse">
        select * from wms_warehouse ww
        <where>
            <if test="whType!=null and whType!='' ">
                and ww.whType = #{whType}
            </if>
        </where>
    </select>
</mapper>