<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.java.activiti.dao.wms.WmsrecordstorageDao">
    <resultMap id="wmsrecordstorage" type="com.java.activiti.model.wms.Wmsrecordstorage">
        <result property="recordGoodId" column="recordGoodId"/>
        <result property="recordWarehouseId" column="recordWarehouseId"/>
        <result property="recordNumber" column="recordNumber"/>
        <association property="recordGood" column="recordGoodId"
                     select="com.java.activiti.dao.wms.WmsGoodDao.findById"/>
        <association property="recordWarehouse" column="recordWarehouseId"
                     select="com.java.activiti.dao.wms.WarehouseDao.findById"/>
    </resultMap>

    <select id="wmsrecordstoragePage" parameterType="Map" resultMap="wmsrecordstorage">
        select * from wms_record_storage
        <where>
            <if test="recordGoodId!=null and recordGoodId!='' ">
                and recordGoodId = #{recordGoodId}
            </if>
            <if test="recordWarehouseId!=null and recordWarehouseId!='' ">
                and recordWarehouseId = #{recordWarehouseId}
            </if>

        </where>
        <if test="sort!=null and sort!='' and order!=null and order!='' ">
            order by ${sort} ${order}
        </if>
        <if test="pageIndex!=null and pageSize!=null">
            limit #{pageIndex},#{pageSize}
        </if>
    </select>

    <select id="wmsrecordstorageCount" parameterType="Map" resultType="int">
        select count(1) from wms_record_storage
        <where>
            <if test="recordGoodId!=null and recordGoodId!='' ">
                and recordGoodId = #{recordGoodId}
            </if>
            <if test="recordWarehouseId!=null and recordWarehouseId!='' ">
                and recordWarehouseId = #{recordWarehouseId}
            </if>
        </where>
        <if test="sort!=null and sort!='' and order!=null and order!='' ">
            order by ${sort} ${order}
        </if>
    </select>

    <insert id="insert" parameterType="com.java.activiti.model.wms.Wmsrecordstorage">
        insert into wms_record_storage
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="recordGoodId != null">
                recordGoodId,
            </if>
            <if test="recordWarehouseId != null">
                recordWarehouseId,
            </if>
            <if test="recordNumber != null">
                recordNumber,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="recordGoodId != null">
                #{recordGoodId,jdbcType=VARCHAR},
            </if>
            <if test="recordWarehouseId != null">
                #{recordWarehouseId,jdbcType=BIGINT},
            </if>
            <if test="recordNumber != null">
                #{recordNumber,jdbcType=BIGINT},
            </if>
        </trim>
    </insert>



    <select id="selectByGoodsIDAndRepositoryID" resultMap="wmsrecordstorage">
        select * from
        wms_record_storage
        where
        recordGoodId = #{recordGoodId} and recordWarehouseId = #{recordWarehouseId}
    </select>

    <update id="update" parameterType="com.java.activiti.model.wms.Wmsrecordstorage">
		update
			wms_record_storage
		set
			recordNumber = #{recordNumber}
		where
			recordGoodId = #{recordGoodId} and
			recordWarehouseId = #{recordWarehouseId}
	</update>
</mapper>