<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.java.activiti.dao.SubProjectDao">
    <resultMap id="subProject" type="com.java.activiti.model.SubProject">
        <id property="subProjectID" column="SubProjectID"/>
        <result property="subProjectName" column="SubProjectName"/>
        <association property="park" javaType="com.java.activiti.model.Park">
            <result property="parkID" column="ParkID"/>
            <result property="parkName" column="ParkName"/>
        </association>
        <association property="city" javaType="com.java.activiti.model.City">
            <result property="cityID" column="CityID"/>
            <result property="cityName" column="CityName"/>
            <result property="longitude" column="Longitude"/>
            <result property="latitude" column="Latitude"/>
        </association>
    </resultMap>

    <resultMap id="parkClass" type="com.java.activiti.model.Park">
        <result property="parkID" column="ParkID"/>
        <result property="parkName" column="ParkName"/>
    </resultMap>

    <select id="findById" parameterType="int" resultMap="subProject">
		select pr.SubProjectID,pr.SubProjectName,p.ParkID,p.ParkName,p.CityID,c.CityName,c.Longitude,c.Latitude
        from t_subproject pr,t_park p,t_city c
        where pr.ParkID = p.ParkID AND p.CityID = c.CityID AND subProjectID=#{subProjectID}
	</select>

    <select id="subProjectPage" parameterType="Map" resultMap="subProject">
        select pr.SubProjectID,pr.SubProjectName,p.ParkID,p.ParkName,p.CityID,c.CityName,c.Longitude,c.Latitude
        from t_subproject pr,t_park p,t_city c
        where pr.ParkID = p.ParkID AND p.CityID = c.CityID
        <if test="subProjectName!=null and subProjectName!='' ">
            and pr.SubProjectName = #{subProjectName}
        </if>
        <if test="sort!=null and sort!='' and order!=null and order!='' ">
            order by ${sort} ${order}
        </if>
        <if test="pageIndex!=null and pageSize!=null">
            limit #{pageIndex},#{pageSize}
        </if>
    </select>

    <select id="subProjectCount" parameterType="Map" resultType="int">
        select count(1)
        from t_subproject pr,t_park p,t_city c
        where pr.ParkID = p.ParkID AND p.CityID = c.CityID
        <if test="parkName!=null and parkName!='' ">
            and ParkName = #{parkName}
        </if>
        <if test="cityName!=null and cityName!='' ">
            and CityName = #{cityName}
        </if>
        <if test="sort!=null and sort!='' and order!=null and order!='' ">
            order by ${sort} ${order}
        </if>
    </select>

    <select id="searchAllSubProject" resultMap="subProject">
    		select pr.SubProjectID,pr.SubProjectName  from t_subproject pr
    </select>

    <!-- 根据项目名称模糊查询项目 自动补全 -->
    <select id="selectSubProjectName"
            parameterType="java.lang.String" resultMap="subProject">
    		select pr.SubProjectID,pr.SubProjectName from t_subproject pr
    		where
    		pr.SubProjectName like CONCAT('%',#{subProjectName},'%')
    </select>

    <select id="findParkByCityID"
            parameterType="java.lang.String" resultMap="parkClass">
    		select  p.ParkID ,p.ParkName from t_park p
    		where
    		p.CityID = #{cityID}
    </select>

    <select id="findSubProjectByPark"
            parameterType="java.lang.String" resultMap="subProject">
    		select  pr.SubProjectID ,pr.SubProjectName from t_subproject pr
    		where
    		p.ParkID = #{parkID}
    </select>

    <insert id="addSubProject" parameterType="subProject">
    		insert into t_subproject values(#{subProjectID},#{subProjectName},#{park.parkID});
    </insert>

    <update id="updateSubProject" parameterType="subProject">
        update t_subproject
        <set>
            <if test="subProjectName!=null and subProjectName!='' ">
                SubProjectName=#{subProjectName},
            </if>
            <if test="park.parkID!=null and park.parkID!='' ">
                ParkID=#{park.parkID},
            </if>
        </set>
        where SubProjectID=#{subProjectID}
    </update>

    <delete id="deleteSubProjectById" parameterType="java.util.List">
        delete from t_subproject where SubProjectID in
        <foreach collection="list" item="subProjectID" index="index" open="(" separator="," close=")">
            #{subProjectID}
        </foreach>
    </delete>

    <!-- 查询city对应的城市是否相同 -->
    <select id="findSubProject" parameterType="subProject" resultMap="subProject">
        select * from t_subproject
        <where>
            <if test="subProjectID!=null and subProjectID!='' ">
                and SubProjectID = #{subProjectID}
            </if>
            <if test="subProjectName!=null and subProjectName!='' ">
                and SubProjectName = #{subProjectName}
            </if>
        </where>
    </select>

    <!-- 查询cityID对应的城市 -->
    <select id="selectSubProjectBySubProjectID" parameterType="java.lang.Integer" resultType="subProject">
    		select * from t_subproject
    		where SubProjectID = #{subProjectID}
    </select>

    <!-- 查询cityID对应的城市 -->
    <select id="findSubProjectByParkID" resultType="subProject">
    		select * from t_subproject
    		where ParkID = #{parkID} and subProjectName = #{subProjectName}
    </select>
</mapper> 